.container {
  max-width: 1360px;
  margin: 0 auto;
}
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol li {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 16px;
  background-color: #469165;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: all linear 0.3s;
}
.btn:hover {
  background-color: #001931;
  color: #ffffff;
}
.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 11px 15px;
  background-color: transparent;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #ffffff;
  transition: all linear 0.3s;
}
.secondary-btn:hover {
  background-color: #469165;
  color: #ffffff;
  border: none;
}
.navbar {
  padding: 16px 0;
  background-color: #ffffff;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-items ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.nav-items ul li a {
  color: #000000;
  font-size: 16px;
  line-height: 152%;
  transition: all linear 0.3s;
}
.nav-items ul li a:hover {
  color: #30b868;
}
/* banner section start */
#banner {
  background-image: url("./../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.banner-content {
  padding-top: 115px;
  padding-bottom: 179px;
  text-align: center;
}
.banner-content h4 {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 8px 12px;
  gap: 6px;
  background-color: #ffffff;
  color: #469165;
  border-radius: 8px;
  font-size: 16px;
}

.banner-content h1 {
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  color: #ffffff;
  padding: 16px 290px;
}
.banner-content h1 span {
  color: #30b868;
}
.banner-content p {
  padding: 16px 300px;
  padding-bottom: 32px;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.buttons .button img {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* banner section end */
/* notes section start */
#notes {
    padding-top: 60px;
    padding-bottom: 120px;
    text-align: center;
}
#notes .notes-items h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
}
#notes .notes-items p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-bottom: 44px;
}
.notes-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.notes-cards .card  {
  padding: 40px 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);
}
.notes-cards .card img{
   background-color: #F95555;
   border-radius: 100%;
   padding: 10px;
}
.notes-cards .card h4{
  padding: 16px 0;
  font-size: 24px;
  font-weight: 600;
}
.notes-cards .card p{
  font-size: 16px;
  line-height: 20px;
}
/* notes section end */